.features__h2{
    text-align: center;
    font-family: var(--main-font);
    font-size: 46px;
    line-height: 54px;
    font-weight: 500;
    margin: 80px 0 66px 0;
    letter-spacing: 0.8px;
}
.features{
    margin: 0 0 80px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 240px);
    column-gap: 24px;
    font-family: var(--main-font);
}
.features_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 240px;
}
.features_card__img{
    background-size: 90%;
    width: 72px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center center;
}
.card_img_lider{
    background-image: url("../images/Icons/cup.svg");
}
.card_img_expert{
    background-image: url("../images/Icons/Expert.svg");
}
.card_img_now{
    background-image: url("../images/Icons/clock_2.svg");
}
.card_img_mentors{
    background-image: url("../images/Icons/human.svg");
}
.features_card__tittle{
    color: var(--second-dark-color);
    font-size: 24px;
    letter-spacing: 0.6px;
    font-weight: 500;
    line-height: 28px;
    margin: 34px 0 16px 0;
    font-weight: 500;
}
.features_card__text{
    color: var(--font-dark-color);
    width: 240px;
    text-align: center;
    letter-spacing: 0.4px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}