.courses{
    margin: 80px 6% 134px 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
}
.courses__title{
    grid-column: 1/4;
    text-align: center;
    font-family: var(--main-font);
    font-size: 46px;
    margin-top: 80px;
    margin-bottom: 64px;
}
.course_card{
    box-shadow: 2px 2px 20px #E5EBF0;
}
.course_card_wrapper{
    border: 1px solid #E5EBF0;
    display: grid;
    grid-template-rows: 4fr 2fr 2fr 1fr;
    grid-template-areas: 
    'img'
    'title'
    'text'
    'link';
}
.course_card__img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 172px;
    border-radius: 12px 12px 0 0;
    grid-area: img;
}
.course_card__img_notebooks{
    background-image: url('../images/course_notebook.png');
}
.course_card__img_keyboards{
    background-image: url('../images/course_keyboards.png');
}
.course_card__img_buttons{
    background-image: url('../images/course_buttons.png');
}
.course_card__title{
    font-size: 22px;
    font-family: var(--main-font);
    margin: 32px 24px 0px;
    grid-area: title;
}
.course_card__text{
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.6;
    grid-area: text;
    margin: 0px 22px;
}
.course_card__link{
    color: var(--main-bg-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--main-font);
    grid-area: link;
    margin: 0px 24px;
}
