.features {
    margin: 80px 6% 134px 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4%;
}

.features__title {
    grid-column: 1/5;
    text-align: center;
    font-family: var(--main-font);
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 64px;
}

.feature-card__img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
}
.feature-card__img_cup {
    background-image: url('../images/Icons/cup.svg');
}

.feature-card__img_expert {
    background-image: url('../images/Icons/Expert.svg');

}

.feature-card__img_clock {
    background-image: url('../images/Icons/clock 2.svg');
}

.feature-card__img_human {
    background-image: url('../images/Icons/human.svg');
}

.feature-card_wrapper {
    text-align: center;
    padding-top: 32px;
}

.feature-card__title{
    font-size: 24px;
    font-family: var(--main-font);
    margin: 0;
}
.feature-card__text{
    font-size: 18px;
    font-family: var(--main-font);
    line-height: 1.6;
    letter-spacing: 0.4px;
}