@font-face {
    font-family: "GT Eesti Pro Display";
    src: url("../fonts/GTEestiProDisplay-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "GT Eesti Pro Display";
    src: url("../fonts/GTEestiProDisplay-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "GT Eesti Pro Display";
    src: url("../fonts/GTEestiProDisplay-Bold.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "GT Eesti Pro Text";
    src: url("../fonts/GTEestiProText-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "GT Eesti Pro Text";
    src: url("../fonts/GTEestiProText-Regular.ttf");
    font-weight: normal;
}
