.form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-second-grey) ;
    flex-direction: column  ;
}
.form_h3{
    font-family: var(--main-dark);
    font-size: 42px;
    letter-spacing: 0.9px;
    margin-top: 80px;
    margin-bottom: 64px;
    text-align: center;
    font-weight: bolder;
}

.forma{
    display: flex;
    flex-direction: column;
    width: 23%;
    
}
.form_input{
    padding: 20px 16px;
    border-radius: 6px;
    border-style: solid;
    outline: none;
    font-family: var(--main-font);
    font-size: 18px;
}
.form_input,
.form_select,
.forma_button{
    margin-bottom: 32px;
}

.forma_select{
    padding: 20px 16px;
    border-radius: 6px;
    outline: none;
    border: 2px solid #B2BAC2;
    color: var(--main-dark: #333333);
    font-family: var(--main-font);
    font-weight: 700;
    letter-spacing: 0.7px;
    font-size: 18px;
}

select{
    background: url(/images/Icons/arrow.svg) no-repeat white;
    background-size: 5%;
    appearance: none;
    background-position-x: 95%;
    background-position-y: 50%;
}

.forma_textarea{

    margin-bottom: 64px;
    margin-top: 32px;
    padding: 20px 16px;
    border-radius: 6px;
    outline: none;
    border: 2px solid #B2BAC2;
    font-family: var(--main-font);
    font-size: 18px
}

.forma_button{
    width: 253px;
    height: 64px;
    background-color: var(--hover-color);
    font-family: var(--main-font);
    color: white;
    font-size: 22px;
    border-right: 8px;
    border: none;
    letter-spacing: 0.7px;
    margin: 0 auto 80px auto;
}

.footer{
    height: 81px;
    background-color: var(--footer-bg-color);
    width: 100%;
   
}
.footer_wrapper{
    display: grid;
    grid-template-columns: 20% 50% 20% 10%;
    
}


.footer_logo{
background: url(/images/Logo.png);
background-size: contain;
background-repeat: no-repeat;
height: 58px;
width: 151px;
margin-left: 50px;
margin-top: 20px;

}
.footer_logo p{
 padding-left: 60px;
 padding-top: 6px;
 font-size: 18px;
    color: white;
    letter-spacing: 0.5px;
    
    
}


.copy_text{
    font-size: 16px;
    color: white;
    letter-spacing: 0.4px;
    line-height: 20px;
    margin-left: 200px;
    margin-top: 10px;
}

.soc{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 38px;  
    margin-top: 25px; 

}
.soc_link{
    
    
}
.soc_link_inst{
    background: url(/images/Icons/Insta.svg);
    height: 39px;
    width: 39px;
    margin-right: 10px;
    
}
.soc_link_face{
    background: url(/images/Icons/Facebook.svg);
    height: 39px;
    width: 39px;
    margin-right: 10px;

}
.soc_link_vk{
    background: url(/images/Icons/VK.svg);
    height: 39px;
    width: 39px;
    margin-right: 10px;
}
.soc_link_youtube{
    background: url(/images/Icons/Youtube.svg);
    height: 39px;
    width: 39px;
    margin-right: 10px;
}

.footer_second_logo{
    background: url(/images/Ozon_logo.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 107px;
    background-size: 80%;
    margin-top: 32px;
    

}