.header{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    height: 124px;
}
.headerlogo{
    background: url(/images/Logo.png);
    width: 181px;
    height: 58px;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.navi{
display: flex;
width: 45%;
justify-content: space-around;

}

.navi a{
    font-size: 18px;
    color: var(--footer-bg-color);
    font-family: var(--main-dark);
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.navi a:hover{
    color:var(--hover-color)
}

.header h5{

    font-size: 22px;
    font-family: var(--main-font);
    font-weight: bold;
}