.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 154px;

}
.header__logo{
    width: 189px;
    height: 66px;
    background-image: url("../images/Logo.png");
    background-repeat: no-repeat;
    background-size: contain;   
}
.header__nav{
    width: 45%;
    display: flex;    
    justify-content: space-around;
}
.header__nav a{
    color: var( --second-dark-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.header__nav a:hover{
    color: var(--danger-color);
}

.header__h5{
    font-size: 22px;
    font-weight: bold;
}
.adaptive_menu{
    display: none;
}