.wrapper{
    margin: 0 auto;
    max-width: 1416px;
}
:root{
    --main-font: "Montserrat";
    --main-bg-color: #005BFF;
    --second-bg-color: #005BFF;
    --second-bg-dark: #33475C;
    --main-second-grey: #EFF3F6;
    --main-danger-color: #eb5757;
}