$main-color: #005BFF;
$header-color: #001A34;
$text-color: #33475C;
$form-background: #EFF3F6;


$screen-xs-min: 320px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
