.classes {
    padding: 2px 5% 2px 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 4%;
    margin: 2% 5% 2% 5%



}

.classes-maintitle {
    text-align: center;
    font-size: 46px;
    margin: 35px;

}
.classes_card {
    border-radius: 4%;
    box-shadow: 1px 0px 13px 4px rgb(233, 238, 241);
    border: 1px solid;
    border-color: rgb(233, 238, 241);
    
}
.classes_card_wrap {
    padding: 32px 24px 32px 24px;
    border-radius: inherit;


}

.classes_card__logo {
    background-size: cover;
    background-repeat: no-repeat;
    height:173px;
    border-radius: inherit;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;

}

.classes_card__logo_laptop{
    background-image: url('images/course_notebook.png');

}

.classes_card__logo_keyboard{
    background-image: url('images/course_keyboards.png');
}


.classes_card__logo_buttons {

    background-image: url('images/course_buttons.png');

}

.classes__title {
    font-size: 22px;
    font-weight: bold;
    padding: 0px 0 16px 0;

}

.classes__text {
    font-size: 15px;
    padding: 0px 0 24px 0;
}

.classes__a {
    text-decoration: none;
    font-size: 18px;
    color: #005BFF;

}

.classes__a:visited {
    color: #005BFF;
    text-decoration:none;
}