.promo {
    background-image: url('images/promo_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:700px;    
    margin: 2% 5% 2% 5%



}

.promo_position {
    padding: 12% 52% 18% 8%;
    width: 35%;
}

.promo__title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 18px;
}
.promo__text {

    color: white;
    font-size:20px;
    margin-bottom: 30px;
}

.promo__button {
    color:white;
    border-radius: 10px;
    background-color: #005BFF;
    font-size: 18px;
    width: 38%;
    padding: 3% 0 3% 0;
    border:0px;

}

.promo__button:hover {
    background-color: #F81155;
}