.forms__input::-webkit-input-placeholder {color:#000000; opacity:1;} /*изменить цвет placeholder*/
.forms__input::-moz-placeholder          {color:#000000; opacity:1;} /*изменить цвет placeholder мозилле*/

:focus::-webkit-input-placeholder {opacity:0;}/* убирает плейсхолдер при нажатии */
:focus::-moz-placeholder          {opacity:0;}/* убирает плейсхолдер при нажатии в мозилле */

.request {
    background-color: #EFF3F6;
    border-top-width: 80px;
    border-bottom-width: 80px;
    border-style: solid;
    border-color: #EFF3F6;
}

    .request__title {
        font-size: 46px;
        text-align: center;
        align-items: center;
        margin-top:0px;

    }

    .forms {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: space-around;
        }
    
    .forms__input{
        margin-bottom: 30px;
        height: 56px;
        width: 456px;
        font-size: 18px;
        border: 1px;
        border-style: solid;
        border-color: #ccc;
        border-radius: 5px; 
        padding: 0 0 0 20px;

        }

    .forms__input:focus {
        border: 2px;
        border-style: solid;
        border-color: blue;
        outline: none;
        }

    select {
        background: url(images/Icons/arrow.png) no-repeat white;
        appearance: none;
        background-position-x: 95%;
        background-position-y: 50%;
        }

    .forms__select {
        margin-bottom: 30px;
        height: 59px;
        width: 479px;
        font-size: 18px;
        border: 1px;
        border-style: solid;
        border-color: #ccc;
        border-radius: 5px;
        padding: 0 0 0 18px;
        color: #ccc;
        opacity: 1;
    }
    
    .forms__option_disabled {
        display: none;
    }
  
    .forms__select:focus {
        color: black;
        outline: none;
        border: 2px;
        border-style: solid;
        border-color: blue;
    }

    .forms__comments {
        margin-bottom: 30px;
        height: 41.5px;
        width: 457px;
        font-size: 18px;
        border: 1px;
        border-style: solid;
        border-color: #ccc;
        border-radius: 5px; 
        padding: 15px 0 0 20px;
    }
    .forms__comments:focus {
        outline: none;
        border: 2px;
        border-style: solid;
        border-color:blue;
    }
    .forms__submit {
        color:white;
        border-radius: 10px;
        background-color: #005BFF;
        font-size: 18px;
        width: 240px;
        border:0px;
        padding: 1% 0 1% 0;

    }

    .forms__submit:hover {
        background-color: #F81155;
    }
