.button {
    // flex: none;
    background: #005BFF;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    width: 208px;
    height: 65px;
    cursor: pointer;
}

.contact_form__btn {
    width: 250px;
    height: 60px;
    margin: 40px 0 80px 0;
}
