.button {
    flex: none;
    background: #005BFF;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;

    width: 208px;
    height: 65px;
    cursor: pointer;
}
