.footer{
    height: 220px;
    background-color: #001A34;
    color: #fff;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    &__content {
        width: 1416px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.social{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
