* {
  font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1416px;
  margin: 0 auto;
}

.section__header {
  color: #001a34;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  margin: 60px 0;
}

.button {
  flex: none;
  background: #005bff;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  width: 208px;
  height: 65px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 124px;
}
.header__logo {
  height: 100px;
  transform: translate(0, 25%);
}
.header__menu {
  display: flex;
  width: 520px;
  justify-content: space-between;
}
.header__menu__link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #001a34;
}
.header__menu__link:hover {
  color: #005bff;
}
.header__slogan {
  font-size: 22px;
  font-weight: 500;
}

.promo {
  display: flex;
  background: url("../images/promo_img.png") center center/cover no-repeat;
  height: 708px;
}
.promo__content {
  color: #fff;
  width: 500px;
  height: 276px;
  margin: 171px 0 0 120px;
}
.promo__header {
  font-size: 58px;
  line-height: 58px;
}
.promo__text {
  font-size: 24px;
  line-height: 36px;
}
.promo__btn {
  margin-top: 40px;
}

.courses__promo {
  margin-top: 136px;
  flex-direction: column-reverse;
  align-items: flex-end;
  background: url("../images/promo_second.png") center center/cover no-repeat;
}
.courses__promo__content {
  color: #fff;
  width: 420px;
  height: 344px;
  margin: 0 160px 220px 0;
}
.courses__promo__btn {
  width: 238px;
}

.courses__card__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 376px);
  grid-gap: 24px;
  justify-content: center;
}

.card {
  height: 376.8px;
  background: #ffffff;
  border: 1px solid #e9eef1;
  box-shadow: 2px 2px 20px #e9eef1;
  border-radius: 12px;
}
.card__img {
  width: 376px;
  height: 172.8px;
}
.card__img img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card__content {
  display: grid;
  grid-template-rows: 60px 100px 1fr;
  justify-content: space-around;
  padding: 0 20px;
}
.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.card__link {
  text-decoration: none;
  color: #005bff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
