
.header {
    margin: 33px 0;
    position: relative;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 520px;
}

.menu__link {
    text-decoration: none;
    color: var( --second-dark-color);
    font-size: 16px;
    font-weight: 500;
}

.header__slogan{
    font-size: 22px;
}
.mobile__menu {
    position: absolute;
    width: 100%;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    transition: .8s;
}

.mobile__menu_active{
    display: flex;
    top: 80px;
}
.mobile__menu-btn{
    display: block;
    width: 30px;
    height: 30px;
    /* background-color: blue; */
    border-radius: 50%;
    position: relative;
}

.burger,
.burger::before,
.burger::after {
    position: absolute;
    background-color: #222;
    /* top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px; */
    width: 30px;
    height: 4px;

}
.burger::before, .burger::after {
    content: '';
    display: block;
    transition: .5s;
}

.burger::before {
    transform: translateY(-10px);
}
.burger::after {
    transform: translateY(10px);
}
.mobile__menu-btn_active .burger {
    height: 0;
}
.mobile__menu-btn_active .burger:before {
    transform: rotate(45deg);
}

.mobile__menu-btn_active .burger:after {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .menu, .header__slogan {
        display: none;
    }

    .mobile__menu-btn{
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }


}
