.promo {
  display: flex;
  background-image: url("../../images/promo_img.png");
  background-size: cover;
  min-height: 708px;
  align-items: center;
}

.promo__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  margin-left: 120px;
  max-width: 550px;
  max-height: 276px;
}

.promo__title {
  font-weight: bold;
  font-size: 58px;
  margin-bottom: 16px;
}

.promo__text {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 32px;
}

.promo__btn {
    width: 208px;
height: 64px;
}