.promo {
    display: flex;
    background-image: url("../../images/Promo.png");
    background-size: cover;
    min-height: 708px;
}

.promo__content {
    margin: 171px 0 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    max-width: 500px;
    height: 276px;
}

.promo__header{
    font-size: 58px;
}

.promo__text {
    font-size: 24px;
}

.promo__btn {
    width: 208px;
    height: 64px;
}

@media (max-width: 1280px) {
    .promo {
        max-width:100%;
        min-height: 650px;
    }
}
@media (max-width: 768px) {
    .promo {
        background-image: url("../../images/mobile_promo.png");
        background-size: cover;
        min-height: 1030px;
        max-width: 100%;
        /*max-height: 100%;*/
        align-items: flex-end;
    }

    .promo__content {
        margin: 0 auto;
        margin-bottom: 56px;
        max-width: 90%;
    }

    .promo__btn {
        width: 100%;
        height: 64px;
    }
}
