.promo {
  display: flex;
  background-image: url("../../images/promo_img.png");
  background-size: cover;
  min-height: 708px;
  align-items: center;
}

.promo__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  margin-left: 120px;
  max-width: 550px;
  /* max-height: 276px; */
}

.promo__title {
  font-weight: bold;
  font-size: 58px;
  margin-bottom: 16px;
}

.promo__text {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 32px;
}

.promo__btn {
  width: 208px;
height: 64px;
}

@media(max-width:768px){
  .promo{
    background-image:url("../../images/mobile__promo__bg.png");
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .promo__article {
    flex: none;
    margin-bottom: 60px;
    margin-left: 0;
    align-items: start;
    width: 100%;
  }

  .promo__title {
    font-size: 36px;
  }
  
  .promo__text {
    font-size: 18px;
  }

  .promo__btn {
   width: 100%;
  }
}