.second__promo {
    display: flex;
    margin-top: 67px;
    background-image:url("../../images/promo_second.png");
    background-size: cover;
    min-height: 708px;
    align-items: center;
    justify-content: flex-end;
}

.second__promo__btn{
    flex: none;
    max-width: 238px;
    height: 64px;
}

@media(max-width:768px){
    .second__promo{
      background-image:url("../../images/mobile_promo_second.png");
      flex-direction: column;
      justify-content: flex-end;
    }
    .second__promo__btn {
        width: 100%;
    }
  }