.second__promo {
    margin-top: 136px;
    background-image: url("../../images/second_promo.png");
    justify-content: flex-end;
}

.second__promo__content{
    /* margin: 182px 120px 0 840px; */
    max-width: 456px;
    min-height: 344px;
}

@media (max-width: 768px) {
    .second__promo{
        background-image: url("../../images/mobile_second_promo.png");
        align-items: flex-end;
        justify-content: center;
        min-height: 1030px;
    }

    .second__promo__content{
        margin: 0;
        margin-bottom: 56px;
        max-width: 90%;
    }

}
